/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #FF0070;
  --nav-color: #FF0070;
  --bg-color: #000028;
  --big-title: #DB00FF;
  --title-color:#000028;
  --title-bg-color: #FF0070;
  --text-color: #F1B2CE;
  --big-title-shadow: #FF0070;
  --bg-img: url(../images/cover-image-dark.png);
  --link-shadow: #FF0070;
  --link-hover-color: #F1B2CE;
  --link-focus-color: #F1B2CE;
  --button-hover: rgb(255, 0, 112, 0.4);
  --rec-decor: visible;
}
